<script src="page2.ts"></script>
<script src="page2.spec.ts"></script>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Two - Locations</ion-title>
  </ion-navbar>
</ion-header>


<h1 style="color:skyblue;">New Title</h1>
<ion-content>
  <h1 *ngIf="errorMessage; else elseBlock">{{errorMessage}}</h1>
  <ng-template #elseBlock>
  <ion-grid>
    <ion-row>
      <ion-col><b>Bus Stop</b></ion-col>
      <ion-col><b>Bus Id</b></ion-col>
      <ion-col><b>Latitude</b></ion-col>
      <ion-col><b>Longitude</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let stop of stops">
      <ion-col>{{stop.busStopName}}</ion-col>
      <ion-col>{{stop.busStopId}}</ion-col>
      <ion-col>{{stop.location.latitude}}</ion-col>
      <ion-col>{{stop.location.longitude}}</ion-col>
    </ion-row>
  </ion-grid>
  </ng-template>
</ion-content>
